* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #515e64;
}

.weatherCard {
  height: 450px;
  width: 300px;
  border-radius: 30px;
  background-image: url(./assets/images/bg6.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-size: cover;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-repeat: no-repeat;
}

.weatherConditions {
  position: absolute;
  top: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-top: 25px;
}

.fa-solid {
  margin-right: 7px;
  font-size: 18px;
  color: rgb(43, 43, 43);
}

.clouds,
.wind,
.humidity {
  font-size: 15px;
  color: rgb(43, 43, 43);
}

.weatherInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-top: 30px;
}

h1 {
  font-size: 65px;
  color: rgb(43, 43, 43);
  font-family: sans-serif;
  font-weight: 500;
}

img {
  width: 100px;
  height: auto;
}

p {
  font-size: 14px;
  color: rgb(43, 43, 43);
}

h5 {
  margin-top: 10px;
  color: rgb(43, 43, 43);
}

.fa-location-crosshairs {
  margin-top: 10px;
}

button {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: none;
  font-weight: 300;
  background-color: rgba(43, 43, 43);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 700;
}
